@font-face {
	font-family: 'Neue Haas Grotesk';
	src: url('fonts/NeueHaasDisplay-Black.woff2') format('woff2'),
		url('fonts/NeueHaasDisplay-Black.woff') format('woff'),
		url('fonts/NeueHaasDisplay-Black.ttf') format('truetype');

	font-weight: bolder;
}

@font-face {
	font-family: 'Neue Haas Grotesk';
	src: url('fonts/NeueHaasDisplay-Bold.woff2') format('woff2'),
		url('fonts/NeueHaasDisplay-Bold.woff') format('woff'),
		url('fonts/NeueHaasDisplay-Bold.ttf') format('truetype');

	font-weight: bold;
}

@font-face {
	font-family: 'Neue Haas Grotesk';
	src: url('fonts/NeueHaasDisplay-Medium.woff2') format('woff2'),
		url('fonts/NeueHaasDisplay-Medium.woff2') format('woff'),
		url('fonts/NeueHaasDisplay-Medium.ttf') format('truetype');

	font-weight: medium;
}

@font-face {
	font-family: 'Neue Haas Grotesk';
	src: url('fonts/NeueHaasDisplay-Roman.woff2') format('woff2'),
		url('fonts/NeueHaasDisplay-Roman.woff2') format('woff'),
		url('fonts/NeueHaasDisplay-Roman.ttf') format('truetype');

	font-weight: lighter;
}