@charset "UTF-8";

@import url(fonts.css);

html {
	font-family: Neue Haas Grotesk;
	overflow: hidden;
	justify-items: center;
	background-color: rgb(81, 95, 219);
	color: white;
}

header,
#viewer,
#options {
	width: 100vw;
	box-sizing: border-box;
}

header {
	font-weight: bolder;
	font-size: 2.75vh;
	max-height: 4vh;
	text-align: center;
	margin: 0px auto;
	display: inline-block;
	margin-bottom: 2vh;
	word-spacing: 5px;
}

body {
	margin: 0;
}

#viewer {
	width: 96vw;
	height: 80vh;
	border: 10px solid;
	margin-left: 2vw;
	margin-right: 2vw;
}

#options {
	font-weight: lighter;
	font-size: 3vh;
	text-align: center;
	height: 8vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2vh;
	margin-bottom: 3vh;
}

#options label {
	margin-right: 15px;
}

#perspectives {
	margin-bottom: 15px;
}

#options button {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	padding: 0px 3px 0px 3px;
	/* border-radius: 5px; */
	margin-left: 5px;
	margin-right: 5px;
	border: 2px solid white;
	background-color: inherit;
}