@font-face {
	font-family: 'Neue Haas Grotesk';
	src: url('fonts/NeueHaasDisplay-Black.woff2') format('woff2'),
		url('fonts/NeueHaasDisplay-Black.woff') format('woff'),
		url('fonts/NeueHaasDisplay-Black.ttf') format('truetype');

	font-weight: 900;
}

@font-face {
	font-family: 'Neue Haas Grotesk';
	src: url('fonts/NeueHaasDisplay-Bold.woff2') format('woff2'),
		url('fonts/NeueHaasDisplay-Bold.woff') format('woff'),
		url('fonts/NeueHaasDisplay-Bold.ttf') format('truetype');

	font-weight: 700;
}

@font-face {
	font-family: 'Neue Haas Grotesk';
	src: url('fonts/NeueHaasDisplay-Medium.woff2') format('woff2'),
		url('fonts/NeueHaasDisplay-Medium.woff') format('woff'),
		url('fonts/NeueHaasDisplay-Medium.ttf') format('truetype');

	font-weight: 500;
}

@font-face {
	font-family: 'Neue Haas Grotesk';
	src: url('fonts/NeueHaasDisplay-Roman.woff2') format('woff2'),
		url('fonts/NeueHaasDisplay-Roman.woff') format('woff'),
		url('fonts/NeueHaasDisplay-Roman.ttf') format('truetype');

	font-weight: 300;
}